@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  --zinc-800: #27272a;
  --zinc-400: #a1a1aa;
  --zinc-100: #f4f4f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-zinc-900: var(--zinc-900);
  --color-zinc-950: var(--zinc-950);
  --color-zinc-800: var(--zinc-800);
  --color-zinc-400: var(--zinc-400);
  --color-zinc-100: var(--zinc-100);
}

.dark {
  --background: var(--zinc-900);
  --foreground: var(--zinc-100);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
